<configuration>

	<conversionRule conversionWord="level" converterClass="com.bitsanity.bitchange.utils.logging.LogLevelConverter" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
			<pattern>[%d{YYYY.MM.dd HH:mm:ss.SSS}] [%X{server_id}:%thread] %-5level %C.%M\(%F:%L\) - %m%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- Support multiple-JVM writing to the same log file -->
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/Bitchange.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>20</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<!-- 
			<pattern>[%d{MM.dd HH:mm:ss.SSS}] [%thread] %-5p %c - %m%n</pattern>
			-->
			 
			<pattern>[%d{YYYY.MM.dd HH:mm:ss.SSS}] [%X{server_id}:%thread] %-5level %C.%M\(%F:%L\) - %m%n</pattern>
			 
		</encoder>
	</appender>

 	<appender name="STATISTICS" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- Support multiple-JVM writing to the same log file -->
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/Bitchange.Statistics.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>14</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator>
				<matcher>
					<Name>stats</Name>
					<regex>STATISTICS*</regex>
				</matcher>

				<expression>stats.matches(message)</expression>
			</evaluator>
			<OnMismatch>DENY</OnMismatch>
			<OnMatch>ACCEPT</OnMatch>
		</filter>

		<encoder>
			<pattern>%replace(%msg){'STATISTICS: ', ''}%n</pattern>
		</encoder>
	</appender>
    
	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STATISTICS" />
	</root>
	
	<logger name="com.bitsanity.bitchange" level="INFO" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STATISTICS" />
	</logger>

	<logger name="org.bitcoinj.net.NioClientManager" level="ERROR" additivity="false">
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="org.bitcoinj.net.Peer" level="WARN" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.bitcoinj.net.ConnectionHandler" level="ERROR" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.bitcoinj.core.Peer" level="WARN" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.bitcoinj.core.PeerGroup" level="WARN" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.bitcoinj.core.PeerSocketHandler" level="ERROR" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

</configuration>
